@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&family=Island+Moments&family=Luxurious+Roman&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
}

/* header section  */
header{border: 1px solid black;
    height: 90vh;
    width: 1100px;
    margin: auto;
}
nav{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.shop-card{
    display:flex;
    align-items: center;
    font-size: 35px;
    margin-right: 25px;
}
/* banner section 
================== */
.banner{
    display:flex;
    margin-top: 90px;
   
}
.banner-details h1{
    font-size: 45px;
    font-family: 900px;
}
.banner-left{
    border: 5px solid sienna;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.primery-button{
    outline: 0;
    background-color: mediumvioletred;
    font-size: 20px;
    padding: 10px 15px;
    color: white;
    border-radius: 40px;
}
.primery-button i{
    font-size: 15px;
}
.banner-right{
    border: 2px solid maroon;
    
}
.banner-inner{
    height: 300px;
}
.banner-inner img{
    width: 100%;
    margin-left: 10px;
}
/* popular-container  */
.popular-container{
   width: 1000px;
   margin: auto;
}
.popular-title{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900px;
}
.collections{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 35px;
}
.collection{
    background-color:white;
    border: 1px solid red;
    padding:20px;
    border-radius: 8px;
}
.collection img{
    width: 100%;
}

.price{
    font-size: 25px;
}
.star{
    color: #FB8200;
}
.unstar{
    color: lightgray;
}
.see-more {
    margin-top: 15px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgb(243, 85, 109);
}
.see-more a{
    text-decoration: none;
    color: rgb(243, 85, 109) ;
}
.see-more i{
    color: rgb(250, 96, 119);
    font-size: 12px;
}
/* featured product section 
========================= */
.featured-container{
    
    width: 1000px;
    margin: auto;
    margin-top: 100px;
 }
 .featured-image img{
    width: 70%;
 }
 .featured-product{
     border: 1px solid red;
     display: grid;
     grid-template-columns: repeat(2, 1fr);

 }
 .featured-details{
     display: flex;
     justify-content: center;
     align-items: center;
 }
/* footer section  */
footer{
    background-color:black;
    height: auto;
    color: white;
    padding: 20px 0px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials{ 
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}
.socials li{
    margin: 0 10px;
}

